@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/_theme.scss";
@import "../scss/components.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800&display=swap");
body {
  background-color: #fafafa;
  font-family: "Inter", sans-serif;

  a {
    text-decoration: none;
    color: $accent;
  }
}

td.negative {
  color: red;
}
td.positive {
  color: green;
}
.container {
  width: 90%;
}

.topbar {
  font-size: $small;
  color: $txtHolder;
  white-space: nowrap;
  span {
    margin-right: 20px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.topbar-r,
button {
  font-size: $small;
  color: $black;
  font-weight: 600;
  .topbar-rt {
    margin-left: 20px;
    display: inline;
  }
}

.nav-bar {
  white-space: nowrap;
  a {
    color: $black;

    &:hover {
      color: $txtHolder;
    }

    font-weight: 500;
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
    font-size: 14px;
    font-weight: 500;
  }
}

.log-in {
  font-size: $small;
  font-weight: 700;

  a {
    color: $black;
    margin-right: 15px;
  }

  button {
    a {
      color: $white;
      margin-right: 0px;
    }

    &:hover {
      background: $accentHover;
    }

    padding: 8px 13px;
    background: #2e4fcc;
    border-radius: 5px;
    border: 0;
  }
}

.form {
  position: relative;
  .fa-search {
    position: absolute;
    top: 12px;
    left: 20px;
    color: #b1b6c0;
  }
  span {
    position: absolute;
    right: 17px;
    top: 8px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
  }
}

.left-pan {
  padding-left: 7px;
  i {
    padding-left: 10px;
  }
}

.form-input {
  height: 40px;
  text-indent: 33px;
  border-radius: 10px;
  background-color: $gray;
  font-size: 14px;
  border: none;
  &:focus {
    box-shadow: none;
    border: 1px solid $accent;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  border: none;
  background: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  border-radius: 5px;
  background: #86898d;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  .hamburger-middle {
    display: none;
  }
  .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
}

.hero {
  margin-top: 40px;
  h1 {
    font-size: $big;
    color: $black;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    color: $grayish;
  }
}

.card {
  background: #ffffff;
  width: 400px;
  height: auto;
  box-shadow: 0px 14.5186px 40.8754px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  border: none;
  padding: 10px 15px;
  margin-top: 30px;
  margin-bottom: 50px;
  h3 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  img {
    width: 25px;
    height: auto;
  }
  table {
    width: 100%;
    font-size: 13px;
    padding: 0px 15px;
    text-align: right;
    color: rgba(64, 64, 64, 0.7);
    td {
      padding-bottom: 20px;
      text-align: left;
    }
    td:first-child {
      font-weight: 600;
      padding-left: 10px;
    }
    td:nth-child(3) {
      font-weight: 600;
      color: $black;
    }
    td:last-child {
      text-align: right;
      color: $black;
    }
  }
}
.negative {
  color: $red !important;

  &::before {
    content: "▼ ";
    font-size: 14px;
    color: $red;
  }
}
.positive {
  color: $green !important;
  &::before {
    content: "▲ ";
    font-size: 14px;
    color: $green;
  }
}
/* Promoted table styling */
.table-background {
  background: #ffffff;
  box-shadow: 0px 14.5186px 40.8754px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  margin-bottom: 50px;
}

.table {
  margin-bottom: 0px;

  th {
    text-align: left;
    color: $grayish;
    font-weight: 600;
    border-bottom: 0.5px solid rgba(103, 103, 103, 0.3);
    &:nth-child(n + 4):nth-child(-n + 9) {
      text-align: right;
    }
  }
  tr {
    border-bottom: 0.5px solid rgba(218, 218, 218, 0.3);
    height: 60px;
    vertical-align: middle;
    font-size: 15px;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
    :nth-child(n + 6):nth-child(-n + 9) {
      text-align: right;
    }
    td:first-child {
      text-align: center;
    }
    td:nth-child(4) {
      color: $black;
    }
    td:nth-child(5) {
      color: $txtHolder;
    }
    td:nth-child(6) {
      text-align: center;
      font-weight: 400;
    }
    td:nth-child(n + 10) {
      text-align: center;
    }
    &:last-child {
      border: 0.5px solid #ffffff;
    }
  }
}
.vote-btn {
  background: #3faad7;
  border-radius: 7px;
  border: none;
  padding: 8px 17px;
  a {
    color: $white;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.h3 {
  font-size: $big;
  font-weight: 600;
  color: $black;
}

// Tooltip

.custom-tooltip {
  background: $accent;
  color: $white;
}

.pagination {
  .active-p {
    background: #2a3d45;
    border-radius: 7px;
    width: 30px;
    height: 30px;

    a {
      color: $white;
    }
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    margin: 0px 15px;
    a {
      color: $black;
      font-weight: 500;
    }
  }
}
.filter-table {
  font-size: 14px;
  color: $grayish;
  .filter {
    display: flex;
    background-color: white;
    border-radius: 7px;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 30px;
    margin: 0px 15px;
  }
}

.kgba-112 {
  background: #f8fbff;
  width: 100%;
  height: auto;
  padding: 30px 0px;
  text-align: center;
  .center {
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-weight: 400;
    font-size: $big;
    color: $black;
  }
  p {
    color: $grayish;
    font-size: 16px;
    margin: 0px 25px;
    span {
      font-weight: 600;
    }
  }
  .btn-submit {
    @include btn-coin;
    padding: 10px 10px;
    margin-top: 18px;
    &:hover {
      background: $accentHover;
    }
    a {
      @include btn-a;
    }
  }
  .bold {
    color: $accent;
    font-weight: 600;
  }
  
  .line {
    border-right: 2px solid $gray;
    width: 1px;
    height: 280px;
    display: flex;
  }
  .line-v {
    border-top: 2px solid $gray;
    width: 65%;
    display: flex;
    margin-top: 35px;
  }
  .socials {
    @include mx-auto;
    p {
      font-size: 15px;
      color: $black;
    }
    span {
      font-weight: 700;
    }
    button {
      border: none;
      margin-top: 13px;
      background: #1d9bf0;
      border-radius: 7px;
      padding: 7px 20px;
      &:hover {
        background: #48b3fb;
      }
      a {
        color: white;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}

footer {
  @include media-breakpoint-down(sm) {
    .center-img {
      display: block;
      @include mx-auto;
    }
  }
  .line-footer {
    border: 0.4px solid $gray;
    @include mx-auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .social-footer {
    color: $graytable;
    font-weight: 300;
    padding: 0;
    i {
      color: #58667e;
      &:hover {
        color: $accent;
      }
    }
  }
  .cr-footer {
    padding: 0px;
    font-size: 12px;
    color: $graytable;
    font-weight: 500;
    margin-bottom: 10px;
    @include media-breakpoint-down(sm) {
      div {
        @include mx-auto;
      }
    }

    a {
      color: $graytable;
    }
  }
  .nav1 {
    a {
      color: $black;
      font-size: 17px;
      font-weight: 600;
    }
    @include media-breakpoint-down(sm) {
      & {
        flex-direction: column;
        margin-top: 15px;
        align-items: center;
        .nav-link {
          padding: 5px 0px;
        }
      }
    }
  }
}

.modal {
  .modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 10px;
    outline: 0;
    .desc-form {
      color: $grayish;
      font-size: 14px;
    }
    .modal-footer1 {
      font-size: 11px;
      a {
        font-size: 11px;
      }
    }
  }
  h5 {
    font-weight: 600;
  }

  a {
    font-size: 14px;
  }
  .form-login {
    .email-nv {
      color: $red;
      font-size: 13px;
    }
    #emailHelp {
      @include form-help;
    }
    input::placeholder {
      color: $txtHolder;
      font-size: 13px;
      font-weight: 400;
    }
    .login-btn {
      background: #e2e4e7;
      &:hover {
        background: #bbbdbe;
      }
      border-radius: 7px;
      button {
        color: $graytable;
      }
    }
    .form-label1 {
      font-size: 13px;
      font-weight: 600;
      color: $black;
      margin-bottom: 5px;
      a {
        color: $grayish;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .form-control1 {
      display: block;
      width: 100%;
      padding: 0.775rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #58667e;
      opacity: 0.6;
      border-radius: 7px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}

.bc {
  a,
  i {
    color: $grayish;
    font-weight: 600;
  }
  li {
    padding-right: 1rem;
  }
  .breadcrumb-item1 {
    box-sizing: border-box;
    float: left;
    color: #6c757d;
  }
}

.info-title {
  font-size: 13px;
  color: $grayish;
  font-weight: 500;
}
.coin-img {
  max-width: 130px;
  height: auto;
  img {
    width: 150px;
    height: auto;
  }
}

.card1 {
  @include bg-card;
  margin-bottom: 10px;
  .desc-txt {
    font-weight: 400;
    font-size: 15px;
    color: $grayish;
    line-height: 24px;
  }
  @media (max-width: 1835px) {
    width: 100%;
  }
  .btn-coin {
    @include btn-coin;
    padding: 10px 15px;
    min-width: 76px;
    min-height: 36px;

    &:hover {
      background: $accentHover;
    }
    a {
      @include btn-a;
    }
  }
  .charts-btn {
    border: 1px solid #2e4fcc;
    border-radius: 5px;
    background-color: none;
    width: 199px;
    height: 55px;
    align-items: center;
    text-align: center;
    img {
      width: 30px;
      height: 30px;
    }
    a {
      text-decoration: none;
      color: $black;
    }
  }
  .coin-info {
    margin-bottom: 15px;
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.749);
    font-size: 14px;
    span:first-child {
      color: $txtHolder;
      font-weight: 300;
    }
    span:nth-child(2) {
      color: $black;
      font-weight: 500;
      padding-bottom: 5px;
    }
  }
}
@media (max-width: 1449px) {
  .w-btn {
    width: 100% !important;
  }
}
.submit-form {
  padding: 3rem 5rem;
  @include bg-card;
  h2 {
    font-weight: 600;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    color: $grayish;
    margin-top: 35px;
  }
  .form-size {
    max-width: 550px;
    .label-submit {
      text-align: left;
      display: block;
      color: $black;
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 10px;
    }
    .input-submit {
      display: block;
      width: 100%;
      line-height: 1.5;
      color: $black;
      font-weight: 400;
      font-size: 15px;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #58667e8b;
      border-radius: 7px;
      padding: 0.575rem 0.75rem;
    }
    .select-date {
      display: inline-block;
      width: fit-content;
      min-width: 85px;
      
    }
    .textarea-submit {
      resize: none;
      display: block;
      width: 100%;
      padding: $input-padding-y $input-padding-x;
      font-family: $input-font-family;
      font-size: 14px;
      font-weight: $input-font-weight;
      line-height: $input-line-height;
      background-color: $input-bg;
      background-clip: padding-box;
      border: $input-border-width solid $input-border-color;
      appearance: none; // Fix appearance for date inputs in Safari
    }
    .form-help {
      @include form-help;
    }
    #checkbox{
      border-radius: 0;
      border-color: $grayish;
    }
    .btn-form{
      @include btn-coin;
      color: #fff;
      width: fit-content;
      @include mx-auto;
      padding: 0 25px;
    }
  }
}
